footer{
    width: 100%;
    background-image: url("../images/Fields_Sunrises_and_sunsets_Tractor_525805_1920x1080.jpg");
    height: 40rem;
    z-index: 4;
    display: flex;
    justify-content: center;
}
.blur{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    filter: grayscale(.4);
    background-color: rgba(0, 0, 0, 0.5);
}
.ourCompany-container{
    width: 20%;
    height: 70%;
    background-color: gray;
    position: relative;
    left: 20%;
    top: 15%
}
.companyLogo{
    width: 20%;
}
.companyName{
    display: flex;
}
.companyName label{



}
