.ResetPassword{
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    animation: fadeIn 2s ease forwards;
    background-color: #ffeee9;
}
.resetPassword-form-container, .resetPassword-form{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 20rem;

}
.resetPassword-form-container{
    padding: 5rem ;
    border: 3px groove gray;
    border-radius: 10px;


}
.labelForResetPassword, .labelForMachingPassword{
    text-align: left;
    padding: 0.25rem 0;
}
.inputForResetPassword, .inputForMachingPassword{
    margin: 0.5rem 0;
    padding: 1rem;

    border-radius: 10px;
}
.resetPassword-button {
    border: none;
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    margin-top: 1rem;


    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    box-sizing: border-box;
    color: #FFFFFF;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.resetPassword-button:not(:disabled):hover{
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}
@media (min-width: 768px) {
    .resetPassword-button  {
        padding: 0 2.6rem;
    }
}
.active-error-text-animation p{
    margin: 0;


}
.active-error-text-animation{
    animation: fadeIn 3s ease forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.error-text{
    color: red;
    font-weight: bold;
}

