.item-info-container{
    display: flex;
    min-height: 39.6rem;
    flex-direction: column;
}
.photo-container img{
    height: 30rem;
    width: auto;
    object-fit: cover;
    margin-left: 15rem;
}
.photo-container{
    max-width: 60rem;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
    margin-right: 5rem;
}
.photo-container h1{
    margin-left: 15rem;
    font-family: Impact, fantasy;
}
.item-info-container-foto{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 5rem;

}
.item-order-container{
    display: flex;
    padding-top: 10rem;
    text-align: left;
    min-width: 50rem;
    flex-direction: column;
}
.item-order-container h2{
    font-weight: bold;
    font-size: 2rem;
    margin-top: 0;
    color: gray;
    margin-bottom: 0;
}
.item-order-container pre{
    font-size: 1rem;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
.item-order-container button{
    height: 2rem;
}
.item-full-info h3{
    margin-left: 15rem;
    font-weight: bold;
    font-size: 2rem;
}
.item-full-info pre {
    display: flex;
    max-width: 100rem;
    margin-left: 15rem;
    white-space: pre-wrap;
    font-family: Arial, sans-serif;
}
.item-order-container p{
    margin: 0;
}
.item-order-container p:nth-child(3){
    margin-bottom:2rem ;
}

